@import url(https://fonts.googleapis.com/css2?family=Peralta&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Galindo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bonbon&family=Galindo&family=Outfit:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bonbon&family=Galindo&family=Marko+One&family=Outfit:wght@100..900&display=swap);

body {
    background-color: rgb(117, 191, 237); 
}
.banner{
    display: flex;
    background-image: url(resources/banner_background.png);
    padding: 1px;
    margin-top: 0px;
    border: 2px solid;
}
h1 {
    font-family: Peralta;
    font-size: 35px;
    color: rgb(65, 71, 244);
    padding-left: 60px;
    margin-right: 450px;
    -webkit-text-stroke: 0.0001px black;
}
.nav_banner {
    display: flex;
    justify-content: space-between;

}
.Menu {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: Outfit;
    font-size: 20px;

}
.Menu li {
    margin: 0 1rem ;
}
.Menu li a {
    color: black;
    font-weight: bold;
}
.WelcomeBox {
    background-image: url(resources/Welcome_Background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    display: flex;
    border-top: 20px rgb(59, 39, 25) solid;
    border-bottom: 20px rgb(59, 39, 25) solid;
}
.welcome_text {
    color: rgb(255, 175, 232);
    -webkit-text-stroke: 0.0001px black;
    font-family: Galindo;
    font-weight: bolder;
    font-size: 60px;
    margin-top: 220px;
    padding-left: 100px;
}
.Checkerboard_banner {
    background-image: url(resources/checkerboard\ pattern.png);
    width: 100%;
    height: 80px;
}

.infobox_background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 167, 232);
    width: 100%;
    height: 300px;
}
.info_box {
    align-items: center;
    background-color: rgb(255, 238, 250);
    border-radius: 500px;
    width: 90%;
    height: 260px;
    border: 1px solid black;
    margin: 10px
}
.info_text1{
    color: blue;
    font-family: Outfit;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;

}
.info_text2 {
    font-family: Outfit;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.info_text3 {
    color: blue;
    font-family: Outfit;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.myshop_video {
    background-color: white;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 15px solid rgb(255, 66, 198);
    border-bottom: 15px solid rgb(255, 66, 198);
}
#introduce {
    width: 800px;
    height: 450px;
    border: 10px dashed rgb(163, 255, 77);
    align-items: center;
}
.footer {
    background-image: url(resources/banner_background.png);
    border:2px solid #070101;
    padding: 5px;
    margin-top: 40px;
}
.footer_text {
    font-family: Outfit;
    font-weight: bold;
    text-align: center;
}

.RawReadyCollection_banner {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    height: 50px;
    margin-top: 70px;
    border-top: rgb(122, 88, 63) solid 7px;
}
.RawReadyCollection_text {
    font-family: Outfit;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.productbox1{
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
}
.description{
    background-color: #fff9c5;
    padding: 10px;
    font-family: Outfit;
    font-weight: bold;
    margin-top: 2px;
}
#BasicDenim {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#GrungeStarDenim {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#RockStarDenim {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.SoY2KCollection_banner {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    height: 50px;
    margin-top: 70px;
    border-top: rgb(122, 88, 63) solid 7px;
}
.SoY2KCollection_text {
    font-family: Outfit;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.productbox2{
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
}
#ChocolateBrownie {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#PlainWhite {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#TooRockToSkull {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.StrawberryGarden_banner {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    height: 50px;
    margin-top: 70px;
    border-top: rgb(122, 88, 63) solid 7px;
}
.StrawberryGarden_text {
    font-family: Outfit;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.productbox3{
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
}
#StrawberryShortcake {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#StrawberrySorbet {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#StrawberryKisses {
    border:2px solid #070101;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.NewArrival_banner {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 70px;
    background-color: rgb(247, 255, 218);
    height: 50px;
    color: rgb(0, 0, 0);
}
.NewArrival_text {
    font-family: Outfit;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.NewArrivalbox {
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
}
#LaceBlooming {
    border:2px solid #fffdfd;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#LaceWhisper {
    border:2px solid #fffdfd;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#MignightLace {
    border:2px solid #fffdfd;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
