@import url(https://fonts.googleapis.com/css2?family=Peralta&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Galindo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bonbon&family=Galindo&family=Outfit:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bonbon&family=Galindo&family=Marko+One&family=Outfit:wght@100..900&display=swap);

body {
    background-color: rgb(117, 191, 237); 
}
.banner{
    background-image: url(resources/banner_background.png);
    text-align: left;
    padding: 1px;
    margin-top: 0px;
    border: 2px solid;
}
h1 {
    font-family: Peralta;
    font-size: 35px;
    color: rgb(65, 71, 244);
    padding-left: 30px;
    -webkit-text-stroke: 0.0001px black;
}